@font-face {
  font-family: "aileron";
  src: url("../fonts/aileron.regular.otf");
}

@font-face {
  font-family: "league gothic";
  src: url("../fonts/LeagueGothic.ttf");
}

body {
  font-family: "aileron";
  margin: 0px;
  background: radial-gradient(circle, #aaaaaa 0%, #000 100%);
}

nav {
  position: sticky;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(110, 110, 110, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

nav .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
}

nav li {
  margin-left: 70px;
}

nav li a {
  font-family: "league gothic", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

nav li a:hover {
  background-color: rgb(241, 116, 13);
  color: black;
}

.banner {
  font-family: "League Gothic", sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.308)),
    url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto .titulo {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.texto .sub_titulo {
  color: #fff;
  font-size: 58px;
  font-weight: 600;
}

#mural {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mural-itens {
  
  padding: 90px;
  /*box-sizing: border-box;*/
  margin: 60px;
  border-radius: 20px;
  color: #e4e4e4;
 
}

#mural-sobre,#mural-suporte,#mural-portfolio{
  background: linear-gradient(
    90deg,
    rgb(37, 0, 124) 0%,
    rgb(31, 53, 255) 50%,
    rgb(0, 153, 255) 100%)
}

#mural-blog,#mural-servicos,#mural-contato{
  background: linear-gradient(
    90deg,
    rgb(0, 153, 255) 0%,
    rgb(31, 53, 255) 50%,
    rgb(37, 0, 124) 100%)
}

.mural-button{
  border-radius: 8px;
  font-size: 1.2rem;
  background: linear-gradient(
90deg,
rgb(250, 19, 2) 0%,
rgb(204, 116, 0) 100%
);
border: 2px solid #2e64a3;
transition: 50ms linear;
}
.mural-button:hover{
  border-radius: 8px;
  font-size: 1.3rem;
  background: linear-gradient(
90deg,
rgb(255, 151, 54) 0%,
rgb(197, 177, 0) 100%

);
}


