@font-face {
  font-family: "aileron";
  src: url("../fonts/aileron.regular.otf");
}

@font-face {
  font-family: "league gothic";
  src: url("../fonts/LeagueGothic.ttf");
}

body {
  font-family: "aileron";
  margin: 0px;
  background: radial-gradient(circle, #aaaaaa 0%, #000 100%);
}

nav {
  position: sticky;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(110, 110, 110, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
}

nav li {
  margin-left: 70px;
}

nav li a {
  font-family: "league gothic", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

nav li a:hover {
  background-color: white;
  color: black;
}

.banner {
  font-family: "League Gothic", sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.308)),
    url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto .titulo {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.texto .sub_titulo {
  color: #fff;
  font-size: 58px;
  font-weight: 600;
}

#mural {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mural-itens {
  padding: 90px;
  /*box-sizing: border-box;*/
  margin: 60px;
  border-radius: 20px;
}

#mural-blog {
  color: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(160, 96, 0, 0.87) 0%,
    rgba(255, 153, 0, 0.96) 50%,
    rgba(255, 219, 56, 0.99) 100%
  );
}

#mural-portfolio {
  color: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(219, 29, 253, 0.8701855742296919) 27%,
    rgba(252, 242, 69, 0.9598214285714286) 93%
  );
}

#mural-sobre {
  color: #ffffff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(96, 9, 121, 1) 0%,
    #6f01ff 60%,
    rgb(81, 98, 255) 100%
  );
}

#mural-suporte {
  color: #ffffff;

  background: linear-gradient(
    90deg,
    rgb(124, 0, 0) 0%,
    rgb(255, 21, 21) 35%,
    rgb(255, 123, 0) 100%
  );
}

#mural-contato {
  color: #ffffff;

  background: linear-gradient(
    90deg,
    rgb(0, 23, 124) 0%,
    rgb(0, 89, 255) 70%,
    rgb(84, 201, 255) 100%
  );
}

#mural-servicos {
  color: #ffffff;

  background: linear-gradient(
    90deg,
    rgb(15, 129, 0) 0%,
    rgb(0, 255, 34) 70%,
    rgb(191, 255, 88) 100%
  );
}

@media screen and (max-width:800px) {
  #mural {
    grid-template-columns: 1fr;
  }

  .mural-itens{
    padding: 20px;
    margin: 10px;
  }
}