@font-face {
  font-family: "aileron";
  src: url("../fonts/aileron.regular.otf");
}

@font-face {
  font-family: "league gothic";
  src: url("../fonts/LeagueGothic.ttf");
}

body {
  font-family: "aileron";
  margin: 0px;
}

nav {
  position: sticky;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(110, 110, 110, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
}

nav li {
  margin-left: 70px;
}

nav li a {
  font-family: "league gothic", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

nav li a:hover {
  background-color: white;
  color: black;
}

.banner {
  font-family: "League Gothic", sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.308)),
    url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto .titulo {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.texto .sub_titulo {
  color: #fff;
  font-size: 58px;
  font-weight: 600;
}
